<!--   Code for the front-end camera function
  Title:   Building an Ionic Framework Camera App 
  Author:  Ionic
  Date: 2020
  Availability: https://capacitor.ionicframework.com/docs/guides/ionic-framework-app/

-->

<ion-header>
	<ion-toolbar color="primary">
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <img [src]="photo" >

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


